//
// user.scss
// Use this to write your custom SCSS
//

.text-gradient-green {
  background-color: #33354d;
  background-image: linear-gradient(to right, #18efa2, #33354d);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
